/node_modules
/public/hot
/public/storage
/public/uploads_arquivos
/public/arquivos/paineis
/public/arquivos/dados_abertos
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
